services:
  rabbitmq:
    image: rabbitmq:4.2.4-management-alpine
    ports:
      - '5672:5672'
      - '15672:15672' # painel web: localhost:15672 (guest/guest)
    healthcheck:
      test: ['CMD', 'rabbitmq-diagnostics', 'ping']
      interval: 10s
      timeout: 5s
      retries: 5

  postgres:
    image: postgres:18
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: users_db
    ports:
      - '5432:5432'
    volumes:
      - pg_data:/var/lib/postgresql
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 10s
      timeout: 5s
      retries: 5

  api-gateway:
    build:
      context: .
      dockerfile: Dockerfile.gateway
    ports:
      - '3000:3000'
    environment:
      - RABBITMQ_URL=amqp://rabbitmq:5672
    depends_on:
      rabbitmq:
        condition: service_healthy

  user-service:
    build:
      context: .
      dockerfile: Dockerfile.user
    environment:
      - RABBITMQ_URL=amqp://rabbitmq:5672
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASS=postgres
      - DB_NAME=users_db
    depends_on:
      rabbitmq:
        condition: service_healthy
      postgres:
        condition: service_healthy

  logging-service:
    build:
      context: .
      dockerfile: Dockerfile.logging
    environment:
      - RABBITMQ_URL=amqp://rabbitmq:5672
    depends_on:
      rabbitmq:
        condition: service_healthy

volumes:
  pg_data: